body {
	/*background-color: MediumSeaGreen;*/
	font-family: raleway;
	text-align: center;
	overflow:hidden;

}

h1 {
	font-size: 4em;
}

h2 {
	margin-top: -3%;
}

h3 {
	font-size: 4em;
	margin-top: -.5%;
	/*color: #FEF175;*/
	color: SteelBlue;
}

p {
	font-size: 4em;
	

}

#wrap {
	max-width: 80%;
	margin: 10% auto auto auto;
}

